.about-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/about_bg_pic.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;

  .about-text {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
  }
}
