@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-size: 16px;
  font-family: 'Bebas Neue', cursive;
  background: url("../images/artur-tumasjan-res-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#content {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;
}
