body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("../images/artur-tumasjan-res-pic.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.home-caption-container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 4rem;
    font-family: 'Bebas Neue', cursive;
    max-width: 43%;
    text-align: center;
  }
}
